[Desktop Entry]
Name=fonts
Exec=./qtc_device_debughelper.py app "qmlscene $@ Main.qml"
Icon=fonts.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true

